.updateProfile{
  background: rgb(12,235,235);
background: linear-gradient(90deg, rgba(12,235,235,1) 0%, rgba(32,227,178,1) 50%, rgba(41,255,198,1) 100%);
/* width: 100vw; */
height: auto;
min-height: 100vh;
display: flex;
align-items: center;
justify-content: center;
padding: 2vmax;
box-sizing: border-box;
}

.updateProfileContainer{
  background-color: white;
  margin-top: 5vmax;
  height: auto;
  width: 50%;
  border-radius: 30px;
  box-sizing: border-box;
  padding: 4vmax;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.updateProfileContainer > input{
  box-sizing: border-box;
  padding: 1vmax 2vmax;
  width: 80%;
  border-radius: 40px;
  border: 1px solid #ccc;
  margin: 2vmax;
  font: 100 1.2rem "Roboto", sans-serif;
  outline: none;
}


.updateProfileContainer > input[type="file"] {
  border-radius: 60px;
  margin: 1vmax;
  width: 60%;
  border: none;
  color: white;
} 

.updateProfileContainer > input[type="file"]::-webkit-file-upload-button {
  background-color: rgb(38, 63, 173);
  color: white;
  width: 100% !important;
  padding: 1vmax;
  border-radius: 30px;
  border: none;
  font: 100 1.2rem "Roboto", sans-serif;
}
.updateProfileContainer > input[type="file"]::file-selector-button{
  background-color: rgb(38, 63, 173);
  color: white;
  width: 100% !important;
  padding: 1vmax;
  border-radius: 30px;
  border: none;
  font: 100 1.2rem "Roboto", sans-serif;
}

@media screen and (max-width: 770px) {
  .updateProfileContainer {
    margin-top: 15vmax;
    width: 80%;
    height: auto;
  }
  .updateProfileContainer > h3{
      margin: 8vw;
      font-size: 6vmax;
  }

  .updateProfileContainer > input {
    padding: 4vw 8vw;
    margin: 2vmax;
    font: 100 1.2rem "Roboto", sans-serif;
    margin: 4vw;
    width: 96%;
  }

  .updateProfileContainer > button {
    align-self: center;
    margin: 8vw;
  }
  
.updateProfileContainer > input[type="file"] {
  width: 100%;
} 
}


@media screen and (max-width: 400px) {
  .updateProfileContainer {
    margin-top: 0vmax;
    width: 94%;
    height: auto;
  }
}