.register{
    background: #0cebeb;
    background: linear-gradient(90deg, rgba(12,235,235,1) 0%, rgba(32,227,178,1) 50%, rgba(41,255,198,1) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2vmax;
    box-sizing: border-box;
    height: auto;
    min-height: 100vh;
}
.registerContainer{
  background-color: white;
  width: 50%;
  border-radius: 30px;
  box-sizing: border-box;
  padding: 2vmax;
  display: flex;
  flex-direction: column;
  align-items: center;  
}

.registerContainer> input{
  box-sizing: border-box;
  padding: 1vmax 2vmax;
  width: 80%;
  border-radius: 40px;
  border: 1px solid #ccc;
  margin: 2vmax;
  font: 100 1.2rem "Roboto", sans-serif;
  outline: none;
}

.registerContainer > input[type="file"] {
  border-radius: 60px;
  margin: 1vmax;
  width: 60%;
  border: none;
  color: white;
} 

.registerContainer > input[type="file"]::-webkit-file-upload-button {
  background-color: rgb(38, 63, 173);
  color: white;
  width: 100% !important;
  padding: 1vmax;
  border-radius: 30px;
  border: none;
  font: 100 1.2rem "Roboto", sans-serif;
}
.registerContainer > input[type="file"]::file-selector-button{
  background-color: rgb(38, 63, 173);
  color: white;
  width: 100% !important;
  padding: 1vmax;
  border-radius: 30px;
  border: none;
  font: 100 1.2rem "Roboto", sans-serif;
}

.registerContainer> a {
    align-self: flex-end;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.55);
    margin: 2vmax;
  }
  @media screen and (max-width: 770px) {
    .registerContainer{
      width: 100%;
    }
    .registerContainer> h3{
        margin: 8vw;
        font-size: 6vmax;
    }
    .registerContainer > input[type="file"] {
      width: 60%;
      padding: 2vmax;
      border-radius: 60px;

    }
  
    .registerContainer > input[type="file"]::-webkit-file-upload-button {
      width: 100%;
    }
    .registerContainer> input {
      padding: 4vw 8vw;
      margin: 2vmax;
      font: 100 1.2rem "Roboto", sans-serif;
      margin: 4vw;
      width: 90%;
    }
  
    .registerContainer> a {
      align-self: center;
      margin: 8vw;
    }
  }