.search {
  height: auto;
    min-height: 100vh;
    background: rgb(12,235,235);
    background: linear-gradient(90deg, rgba(12,235,235,1) 0%, rgba(32,227,178,1) 50%, rgba(41,255,198,1) 100%);  
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2vmax;
    box-sizing: border-box;
  }
  
  .searchForm {
    margin-top: 6vmax !important;
    background-color: white;
    height: 80vh;
    width: 50%;
    border-radius: 30px;
    box-sizing: border-box;
    padding: 2vmax;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .searchForm > input {
    box-sizing: border-box;
    padding: 1vmax 2vmax;
    width: 80%;
    border-radius: 40px;
    border: 1px solid #ccc;
    margin: 2vmax;
    font: 100 1.2rem "Roboto", sans-serif;
    outline: none;
  }
  
  .searchForm > h3{
    font-size: 4vmax;
  }
  .searchResults {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    padding: 2vmax;
    box-sizing: border-box;
  }

  .searchResults::-webkit-scrollbar {
    width: 1.4vmax;
    height: 1vmax;
  }
   
  .searchResults::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(142, 142, 142, 0.774);
    border-radius: 30px;
  }
   
  .searchResults::-webkit-scrollbar-thumb {
    background: rgb(0, 127, 182); 
    border-radius: 100px;
    height: 4vmax;
  }
 
  


  .homeUser {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.8);
    transition: all 0.5s;
  }
  .homeUser > img {
    height: 6vmax;
    width: 6vmax;
    margin: 1vmax;
    border-radius: 100%;
    border: 3px solid steelblue;
  }
  
  .homeUser:hover {
    transform: translateY(-10px);
  }
  
  @media screen and (max-width: 600px) {
    .searchForm {
      width: 90%;
      height: auto;
      min-height: 60vh;
    }
    .searchForm > h3{
      font-size: xx-large;
    }
  
    .searchForm > input {
      padding: 4vw 8vw;
      margin: 2vmax;
      font: 100 1.2rem "Roboto", sans-serif;
      margin: 4vw;
    }
  }